kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-nginx
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
     app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
        - name: {{ .Values.containerName }}
          image: {{ .Values.image }}
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
