kind: Deployment
apiVersion: apps/v1
metadata:
  name: hello-word
spec:
  replicas: 2
  selector:
    matchLabels:
     app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
        - name: hello-world
          image: nginx:latest
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
