kind: Service
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-svc
spec:
  selector:
    app: hello-world
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  type: NodePort
